---
config:
  clientID: auth
  clientSecret: {{ auth_client_secret }}
  cookieSecret: {{ auth_cookie_secret }}

extraArgs:
  provider: keycloak-oidc
  provider-display-name: {{ keycloak_realm_name }}
  redirect-url: https://auth.{{ cluster_public_domain }}
  oidc-issuer-url: "https://keycloak.{{ cluster_public_domain }}/realms/{{ keycloak_realm_name }}"
  whitelist-domain: "*.{{ cluster_public_domain }}"
  cookie-domain: ".{{ cluster_public_domain }}"

replicaCount: 1

sessionStorage:
  type: redis

redis:
  enabled: true
  persistentVolume:
    enabled: false

resources:
  limits:
    cpu: 500m
    memory: 100Mi
  requests:
    cpu: 10m
    memory: 25Mi

ingress:
  enabled: true
  className: nginx-public
  hosts:
    - auth.{{ cluster_public_domain }}
  tls:
    - hosts:
        - auth.{{ cluster_public_domain }}
