project_id = "{{ project_id }}"
region = "{{ region }}"
cluster_location = "{{ cluster_location }}"
system_name = "{{ cluster_name }}"
managed_zone = "{{ managed_zone }}"
domain_name = "{{ domain_name }}"
base_machine_type = "{{ base_machine_type }}"
base_min_node_count = {{ base_min_node_count }}
base_max_node_count = {{ base_max_node_count }}
base_spot = {{ 'true' if base_spot else 'false' }}
workspace_machine_type = "{{ workspace_machine_type }}"
workspace_min_node_count = {{ workspace_min_node_count }}
workspace_max_node_count = {{ workspace_max_node_count }}
