project_id = "{{ project_id }}"
region = "{{ region }}"
cluster_location = "{{ cluster_location }}"
system_name = "{{ cluster_name }}"
managed_zone = "{{ managed_zone }}"
domain_name = "{{ domain_name }}"
machine_type = "{{ machine_type }}"
min_node_count = {{ min_node_count }}
max_node_count = {{ max_node_count }}
preemptible = {{ 'true' if preemptible else 'false' }}
