
use_kubeconfig: false
workspaces_namespace: "{{ namespace }}"

storage_class: "{{ coder_storage_class }}"
cluster_name: "{{ cluster_name }}"
restic_password_prefix: "{{ coder_restic_password_prefix }}"
restic_repo_prefix: "{{ coder_restic_repo_prefix }}"
aws_default_region: "{{ coder_aws_default_region }}"
aws_access_key: "{{ coder_aws_access_key }}"
aws_secret_key: "{{ coder_aws_secret_key }}"
k8s_server: "{{ coder_k8s_server }}"
k8s_ca_cert: "{{ coder_k8s_ca_cert }}"
k8s_cluster_name: "{{ coder_k8s_cluster_name }}"
cert_expiration_seconds: "{{ coder_cert_expiration_seconds }}"

devbox_image: "{{ item.devbox_image}}"
homedir_disk_size: "{{ item.homedir_disk_size }}"
devbox_mem_limit: "{{ item.devbox_mem_limit }}"
docker_service: {{ 'true' if item.docker_service else 'false' }}
docker_mem_limit: "{{ item.docker_mem_limit }}"
openvpn_service: {{ 'true' if item.openvpn_service else 'false' }}
backup_service: {{ 'true' if item.backup_service else 'false' }}
backup_mem_limit: "{{ item.backup_mem_limit }}"
backup_cron: "{{ item.backup_cron }}"
restic_forget_args: "{{ item.restic_forget_args }}"
restic_storage_type: "gs"
