---
image:
  tag: {{ keycloak_version }}

replicaCount: 2

auth:
  adminUser: admin
  adminPassword: "{{ keycloak_admin_password }}"

service:
  type: ClusterIP

ingress:
  enabled: true
  ingressClassName: "nginx-public"
  hostname: {{ keycloak_hostname }}
  tls: true

postgresql:
  enabled: false

externalDatabase:
  host: "{{ keycloak_db_hostname }}"
  port: 5432
  user: "keycloak"
  database: "keycloak"
  existingSecret: "keycloak.{{ keycloak_db_hostname }}.credentials.postgresql.acid.zalan.do"
  existingSecretPasswordKey: "password"
