---
# https://github.com/oauth2-proxy/oauth2-proxy/blob/7c3efe4f42bc37ccab613fe5002c172e147e3195/docs/2_auth.md#keycloak-auth-provider
config:
  clientID: alertmanager
  clientSecret: {{ alert_client_secret }}
  cookieSecret: {{ alert_cookie_secret }}

extraArgs:
  provider: keycloak-oidc
  provider-display-name: {{ keycloak_realm_name }}
  redirect-url: https://alert.{{ cluster_public_domain }}
  oidc-issuer-url: "https://keycloak.{{ cluster_public_domain }}/realms/{{ keycloak_realm_name }}"
  whitelist-domain: "{{ cluster_public_domain }}"
  cookie-refresh: 180s

replicaCount: 1

# sessionStorage:
#   type: redis

# redis:
#   enabled: true
#   master:
#     persistence:
#       enabled: false

#   replica:
#     replicaCount: 0

resources:
  limits:
    cpu: 200m
    memory: 100Mi
  requests:
    cpu: 100m
    memory: 25Mi

ingress:
  enabled: true
  className: nginx-public
  path: /oauth2
  hosts:
    - alert.{{ cluster_public_domain }}
  tls:
    - hosts:
        - alert.{{ cluster_public_domain }}
